// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";
@variant hover,
focus {
  .rotate-0 {
    transform: rotate(0deg);
  }
  .rotate-90 {
    transform: rotate(90deg);
  }
}

.box-show {
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  // box-shadow: 0 0 0.7142857142857143rem #cccccc;
  padding: 15px;
  &:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  }
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 3em;
}