.nav {
  height: 60px;
  line-height: 60px;
  font-size: 1.4rem;
  width: 100%;
  z-index: 100;
  transition: all .3s ease;
  box-shadow: 0 0 2px 2px #f1f1f1;
  background-color: hsla(0, 0%, 100%, .95);
  .nav-container {
    font-size: 14px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    .nav-logo {
      display: flex;
      align-items: center;
    }
    .nav-menu {
      display: flex;
      align-items: center;
      .nav-menu-item {
        position: relative;
        color: #3b475f;
        margin-right: 60px;
        font-weight: 300;
        // transition: color .233s ease;
        // background-image: none;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 10px;
          width: 100%;
          background-color: #60a1ff;
          height: 2px;
          transform: scaleX(0);
          transition: transform .3s ease, -webkit-transform .3s ease
        }
        &:hover::after {
          transform: scaleX(1);
        }
        &:last-child {
          margin-right: 0
        }
      }
    }
    .github-corner {
      fill: #151513;
      color: #fff;
      position: absolute;
      top: 0;
      border: 0;
      right: 0;
      z-index: 1021;
    }
    .github-corner:hover .octo-arm {
      animation: octocat-wave .56s ease-in-out
    }
    .github-corner .octo-arm {
      transform-origin: 130px 106px
    }
    .mobile-menu {
      outline: none;
      .bg-white {
        background-color: #000;
        &.icon-bar1,
        .icon-bar2,
        .icon-bar3 {
          width: 20px;
          height: 2px;
          margin: 6px 0;
          -webkit-transition: .4s;
          transition: .4s;
        }
      }
    }
    @keyframes octocat-wave {
      0%,
      to {
        -webkit-transform: rotate(0);
        transform: rotate(0)
      }
      20%,
      60% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg)
      }
      40%,
      80% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
      }
    }
  }
}